# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java\JM.Task2.3.1_CRUD_application\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
